@import "core/reset";

// HEADER

.hamburger {
  top: 0px;
  left: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: #0271bc;
  position: fixed;
}
.hamburger-inner {
  width: 16px;
  height: 14px;
}
.hero {
  color: red($color: #000000);
  // width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  // align-items: flex-end;
  align-items: center;
  text-align: center;
  color: white;
  background-image: url(../images/cover.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.hero-content {
  margin: 284px 15px 174px 15px;
}
.hero .title-item {
  display: block;
  font-family: "Roboto Slab";
  font-weight: bold;
  font-size: 2.625rem;
  text-transform: uppercase;
  line-height: 55px;
}
.hero p {
  font-size: 1rem;
  font-family: "Roboto";
  margin-top: 10px;
}
.hero-circle {
  width: 45px;
  height: 45px;
  background: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 53px;
}
//  MAIN
.main {
  padding: 30px 15px 45px 15px;
  height: 376px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: left;
}
.tips {
  font-family: "Roboto";
  font-size: 0.875rem;
  color: #8ccbea;
  text-transform: capitalize;
}
.main h2 {
  font-family: "Roboto Slab";
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 30px;
  color: black;
  text-transform: capitalize;
  margin: 0px;
}
.main p {
  font-family: "Roboto";
  font-size: 1.125rem;
  line-height: 30px;
  color: #4a4a4a;
  margin: 0px;
}
.main-button {
  font-family: "Roboto";
  width: 76px;
  height: 45px;
  border-radius: 22.5px;
  background-color: white;
  font-size: 1.25rem;
  color: #f26002;
  border: solid #f26002;
  transition: 0.4s;
}
.main-button:hover {
  background-color: #f26002;
  color: white;
  opacity: 0, 8;
  font-size: 1.5rem;
}
.main-button:focus {
  outline: 0;
}

// ASIDE
.aside {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 624px;
  background-color: #eff9ff;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, auto);
  grid-template-areas:
    "reasons reasons reasons"
    "reason-1 reason-1 reason-1"
    "reason-2 reason-2 reason-2"
    "reason-3 reason-3 reason-3"
    "button-reasons button-reasons button-reasons";
}
.aside .reasons {
  font-family: "Roboto Slab";
  font-weight: bold;
  font-size: 1rem;
  text-transform: capitalize;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: reasons;
  line-height: 30px;
}
.aside .reason-1 {
  margin: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-area: reason-1;
  line-height: 30px;
}
.aside {
  margin: 0px;
}

.aside h3 {
  margin: 0px;
  font-family: "Roboto Slab";
  font-weight: bold;
  font-size: 1.125rem;
  line-height: 30px;
}
.aside p {
  margin: 0px 70px;
  font-family: "Roboto";
  font-size: 1.125 rem;
  text-align: center;
  line-height: 30px;
}
.aside .reason-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-area: reason-2;
}

.aside .reason-3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-area: reason-3;
}

.aside .button-reasons {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: button-reasons;
  line-height: 30px;
}
.aside button {
  width: 184px;
  height: 45px;
  border-radius: 22.5px;
  background-color: #f26002;
  font-size: 1.25rem;
  color: white;
  border: solid #f26002;
  margin-bottom: 60px;
  transition: 0.4s;
}
.aside button:hover {
  font-size: 1.5rem;
  background-color: white;
  color: #f26002;
  border: solid #f26002;
}

.aside button:focus {
  outline: 0;
}
// FOOTER
.footer {
  background-color: #304268;
  height: 465px;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-circle {
  position: relative;
  top: -25px;
  width: 45px;
  height: 45px;
  background: white;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-items {
  height: 465px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.references {
  padding-left: 0px;
  align-items: center;
  margin-left: 0px;
  padding-left: 0px;
}
.networks {
  align-items: center;
}

.nav-references {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.nav-networks {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.copyright {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Roboto";
  text-transform: lowercase;
  line-height: 30px;
  margin-bottom: 45px;
}
.list-footer {
  line-height: 30px;
  list-style-type: none;
  margin-left: 0px;
  padding-left: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.link-footer {
  margin-left: 0px;
  padding-left: 0px;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Roboto";
  font-size: 1rem;
}
// TABLET

@media all and (min-width: 768px) {
  .hero-content {
    margin: 384px 39px 172px 39px;
  }
  .hero .title-item {
    font-size: 5rem;
    line-height: 106px;
  }
  .hero p {
    font-size: 1.5rem;
    margin-top: 20px;
  }
  .hero-circle {
    bottom: 45px;
  }
  .main {
    padding: 30px 39px 60px 30px;
    height: 330px;
  }
  .tips {
    font-size: 0.875rem;
  }
  .main h2 {
    font-size: 1.625rem;
    line-height: 30px;
  }
  .main p {
    font-size: 1.25rem;
  }
  .main-button {
    width: 91px;
  }
  .aside {
    width: 100%;
    height: 397px;
    grid-template-areas:
      "reasons reasons reasons"
      "reason-1 reason-2 reason-3"
      "reason-1 reason-2 reason-3"
      "reason-1 reason-2 reason-3"
      "button-reasons button-reasons button-reasons";
  }
  .aside .reasons {
    font-size: 1.625rem;
    line-height: 45px;
  }

  .aside h3 {
    font-size: 1.5rem;
  }
  .aside p {
    font-size: 1.25 rem;
    margin-left: 35.7px;
    margin-right: 40px;
  }
  .aside button {
    width: 210px;
  }
  .footer {
    height: 240px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .footer-items {
    padding: 45px 39px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }

  .references {
    text-align: left;
    order: 2;
  }
  .networks {
    align-items: center;
    order: 3;
  }
  .list-footer {
    width: 210px;
    line-height: 30px;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  .copyright {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-family: "Roboto";
    text-transform: lowercase;
    line-height: 30px;
  }

  .footer-circle {
    top: -5px;
  }
}
@media all and (min-width: 1200px) {
  .hero-content {
    margin: 384px 275px 120px 275px;
  }
  .hero .title-item {
    font-size: 6.25rem;
    line-height: 132px;
  }
  .hero p {
    font-size: 1.5rem;
    margin: 0px;
  }
  .hero-circle {
    bottom: 13px;
  }
  .main {
    padding: 60px 275px 60px 275px;
    height: 360px;
  }
  .tips {
    font-size: 1rem;
  }
  .main h2 {
    font-size: 2rem;
    line-height: 45px;
  }
  .main-button {
    width: 160px;
  }
  .aside {
    height: 427px;
  }
  aside.reasons {
    font-size: 2rem;
  }
  .aside p {
    margin-left: 81.2px;
    margin-right: 85px;
  }
  .aside button {
    width: 255px;
  }
  .footer-items {
    padding: 45px 290px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
}
