<aside>
  <div class="aside">
    <div id="reasons" class="reasons">
      <h2>3 reasons to purchase</h2>
    </div>
    <div class="reason-1">
      <h3>Ut sed metus</h3>
      <p>Lorem, ipsum dolor sit amet, consecteur.</p>
    </div>
    <div class="reason-2">
      <h3>Curabitur ac erat</h3>
      <p>Mauris mattis urna quis lorem molestie.</p>
    </div>
    <div class="reason-3">
      <h3>Morbi dictum</h3>
      <p>Aliquam in dolor et dolor tincidunt.</p>
    </div>
    <div class="button-reasons">
      <button>More reasons</button>
    </div>
  </div>
</aside>
