<footer>
  <div class="footer">
    <div class="footer-circle">
      <a href="#hero">
        <img
          src="./assets/images/ico-arrow.png"
          alt="icon-arrow"
          title="Go to menu"
        />
      </a>
    </div>
    <div class="footer-items">
      <div class="references">
        <!-- flex -->
        <nav class="nav-references">
          <!-- flex -->
          <ul class="list-footer">
            <li>
              <a class="link-footer" href="https://adalab.es/">articles</a>
            </li>
            <li>
              <a class="link-footer" href="https://adalab.es/">books</a>
            </li>
            <li>
              <a class="link-footer" href="https://adalab.es/">events</a>
            </li>
            <li>
              <a class="link-footer" href="https://adalab.es/">reasons</a>
            </li>
            <li>
              <a class="link-footer" href="https://adalab.es/">tips</a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="networks">
        <!--flex-->
        <nav class="nav-networks">
          <!-- flex -->
          <ul class="list-footer">
            <li>
              <a class="link-footer" href="https://adalab.es/">twitter</a>
            </li>
            <li>
              <a class="link-footer" href="https://adalab.es/">instagram</a>
            </li>
            <li>
              <a class="link-footer" href="https://adalab.es/"
                >mastodon.social</a
              >
            </li>
          </ul>
        </nav>
      </div>

      <small class="copyright">
        <span class="copy-item"> &copy; 2017 </span>
        <span class="copy-item"> we ❤️ components</span>
      </small>
    </div>
  </div>
</footer>
