<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Mi web</title>
    <link
      href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./assets/css/main.css" />
  </head>

  <body>
    <partial src="_hamburger.html"></partial>
    <partial src="_header.html"></partial>
    <partial src="_main.html"></partial>
    <partial src="_aside.html"></partial>
    <partial src="_footer.html"></partial>
  </body>
</html>
