<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Mi web</title>
    <link
      href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./assets/css/main.css" />
  </head>

  <body>
    <div class="hamburger">
      <a href="https://adalab.es/">
        <img
          id="menu"
          class="hamburger-inner"
          src="../assets/images/ico-menu.png"
          alt="Menu-icon"
          title="menu"
        />
      </a>
    </div>
    <header class="hero">
      <div class="hero-content">
        <span class="title-item">anonymous</span>
        <span class="title-item">proxy</span>
        <p>In hac habitasse platea dictumst</p>
      </div>
      <div class="hero-circle">
        <a href="#reasons">
          <img
            src="../assets/images/ico-scroll-down.png"
            alt="icon-scroll"
            title="Go reasons to purchase"
          />
        </a>
      </div>
    </header>

    <main>
      <div class="main">
        <small class="tips">insomnia tips</small>
        <h2>looking though a window</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet
          voluptatem accusamus nesciunt odio vitae! .
        </p>
        <button type="button">Go</button>
      </div>
    </main>

    <aside>
      <div class="aside">
        <div id="reasons" class="reasons">
          <h2>3 reasons to purchase</h2>
        </div>
        <div class="reason-1">
          <h3>Ut sed metus</h3>
          <p>Lorem, ipsum dolor sit amet.</p>
        </div>
        <div class="reason-2">
          <h3>Curabitur ac erat</h3>
          <p>Magnam ratione voluptas non.</p>
        </div>
        <div class="reason-3">
          <h3>Morbi dictum</h3>
          <p>Quos, aliquam nesciunt.</p>
        </div>
        <div class="button-reasons">
          <button type="button">More reasons</button>
        </div>
      </div>
    </aside>
    <footer>
      <div class="footer">
        <div class="footer-circle">
          <a href="#menu">
            <img
              src="../assets/images/ico-arrow.png"
              alt="icon-arrow"
              title="Go to menu"
            />
          </a>
        </div>
        <div class="references">
          <nav class="nav-references">
            <ul class="list-footer">
              <li>
                <a class="link-footer" href="https://adalab.es/">articles</a>
              </li>
              <li>
                <a class="link-footer" href="https://adalab.es/">events</a>
              </li>
              <li>
                <a class="link-footer" href="https://adalab.es/">reasons</a>
              </li>
              <li>
                <a class="link-footer" href="https://adalab.es/">tips</a>
              </li>
            </ul>
          </nav>
        </div>
        <div class="networks">
          <nav class="nav-networks">
            <ul class="list-footer">
              <li>
                <a class="link-footer" href="https://adalab.es/">twitter</a>
              </li>
              <li>
                <a class="link-footer" href="https://adalab.es/">instagram</a>
              </li>
              <li>
                <a class="link-footer" href="https://adalab.es/"
                  >mastodon.social</a
                >
              </li>
            </ul>
          </nav>
        </div>
        <small class="copyright">
          <span> &copy; 2017 </span>
          <span> we ❤️ components</span>
        </small>
      </div>
    </footer>
  </body>
</html>
