.aside {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 624px;
  background-color: #eff9ff;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, auto);
  grid-template-areas:
    "reasons reasons reasons"
    "reason-1 reason-1 reason-1"
    "reason-2 reason-2 reason-2"
    "reason-3 reason-3 reason-3"
    "button-reasons button-reasons button-reasons";
  .reasons {
    font-family: $boldFont;
    font-weight: bold;
    font-size: 1rem;
    text-transform: capitalize;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: reasons;
    line-height: 30px;
  }
  .reason-1 {
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-area: reason-1;
    line-height: 30px;
  }
  h3 {
    margin: 0px;
    font-family: $boldFont;
    font-weight: bold;
    font-size: 1.125rem;
    line-height: 30px;
  }
  p {
    margin: 0px 70px;
    font-family: $principalFont;
    font-size: 1.125 rem;
    text-align: center;
    line-height: 30px;
  }
  .reason-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-area: reason-2;
  }

  .reason-3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-area: reason-3;
  }

  .button-reasons {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: button-reasons;
    line-height: 30px;
  }
  button {
    width: 184px;
    height: 45px;
    border-radius: 22.5px;
    background-color: $myOrange;
    font-size: 1.25rem;
    color: white;
    border: solid $myOrange;
    margin-bottom: 60px;
    transition: 0.4s;
  }
  button:hover {
    font-size: 1.5rem;
    background-color: white;
    color: $myOrange;
    border: solid $myOrange;
  }

  button:focus {
    outline: 0;
  }
}

@media all and (min-width: 768px) {
  .aside {
    width: 100%;
    height: 397px;
    grid-template-areas:
      "reasons reasons reasons"
      "reason-1 reason-2 reason-3"
      "reason-1 reason-2 reason-3"
      "reason-1 reason-2 reason-3"
      "button-reasons button-reasons button-reasons";
    .reasons {
      font-size: 1.625rem;
      line-height: 45px;
    }

    h3 {
      font-size: 1.5rem;
    }
    p {
      font-size: 1.25 rem;
      margin-left: 35.7px;
      margin-right: 40px;
    }
    button {
      width: 210px;
    }
  }
}
@media all and (min-width: 1200px) {
  .aside {
    height: 427px;
    .reasons {
      font-size: 2rem;
    }
    p {
      margin-left: 81.2px;
      margin-right: 85px;
    }
    button {
      width: 255px;
    }
  }
}
