.hamburger {
  top: 0px;
  left: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: #0271bc;
  position: fixed;

  &-inner {
    width: 16px;
    height: 14px;
  }
}
